<div class="container-fluid">
    <h1>{{$ctrl.dish.id}} - {{$ctrl.dish.name}}</h1>
    <table>
        <tr><th>Du</th><th>Au</th><th>Prix</th></tr>
        <tr ng-repeat="price in $ctrl.dish.priceConfiguration">
            <td>{{price.validityStartDate}}</td>
            <td ng-if="price.validityEndDate != '0001-01-01T00:00:00'">{{price.validityEndDate}}</td>
            <td ng-if="price.validityEndDate == '0001-01-01T00:00:00'">-</td>
            <td>{{price.amount}}€</td>
        </tr>
    </table>
</div>