# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bin
obj
*.suo
*.user
/packages/
!packages/repositories.config
*.ncrunchproject
*.ncrunchsolution
_NCrunch_MaiDan/MaiDan.crunchsolution.cache
.vs/config/applicationhost.config
/UI/MaiDan.Website/Scripts
/UI/MaiDan.Website/node_modules/
/UI/MaiDan.Website/bower_components/
/doc/
*.cmd
*.dg
*.lock.json