<div *ngIf="bill">
  <h2 *ngIf="bill.tableId === undefined">À emporter</h2>
  <h2 *ngIf="bill.tableId !== undefined">Table {{bill.tableId}}, {{bill.numberOfGuests}} couvert{{bill.numberOfGuests > 1 ? 's' : ''}}</h2>
  <p>Ticket n°{{bill.id}} - Edité le {{bill.billingDate|date:"dd/MM/yyyy hh:mm"}}</p>
  <ul>
    <li *ngFor="let line of bill.lines">
      {{line.quantity}} x {{line.dishName}} - {{line.amount}}€
    </li>
  </ul>
  <p>Remises</p>
  <ul>
    <li *ngFor="let discount of bill.discounts">
      {{discount.name}} {{discount.rate  * 100}}% - {{discount.amount}}€
    </li>
  </ul>
  <p>Total : {{bill.total}}€</p>
  <p>TVA</p>
  <ul>
    <li *ngFor="let tax of bill.taxes">
      {{tax.rate  * 100}}% - {{tax.amount}}€
    </li>
  </ul>
</div>
