<div class="container-fluid">
    <h1 ng-if="$ctrl.order.tableId === undefined">Commande n°{{$ctrl.order.id}} - à emporter</h1>
    <h1 ng-if="$ctrl.order.tableId !== undefined && order.numberOfGuests == 1">Commande n°{{$ctrl.order.id}} - Table {{$ctrl.order.tableId}}, 1 convive</h1>
    <h1 ng-if="$ctrl.order.tableId !== undefined && order.numberOfGuests > 1">Commande n°{{$ctrl.order.id}} - Table {{$ctrl.order.tableId}}, {{$ctrl.order.numberOfGuests}} convives</h1>
    <ul>
        <li ng-repeat="line in $ctrl.order.lines">
            <p>{{line.quantity}} x {{line.dishName}} - {{line.amount}}€ </p>
        </li>
    </ul>

    <p>Total : {{$ctrl.order.total}}€</p>
    <div ng-controller="OrderPrintController">
        <button ng-click="print($ctrl.order.id)">Imprimer l'addition</button>
    </div>
</div>