<div class="container-fluid">
    <h1>Commandes</h1>
    <div class="col-md-10">
        <!--Body content--><ul>
            <li ng-repeat="order in $ctrl.orderbook | filter:$ctrl.query | orderBy:$ctrl.orderProp">
                <a ng-if="order.tableId === undefined" href="#!/orderbook/{{order.id}}">{{order.id}} - à emporter</a>
                <a ng-if="order.tableId !== undefined" href="#!/orderbook/{{order.id}}">{{order.id}} - table {{order.tableId}}</a>
            </li>
        </ul>
    </div>
</div>