
<div *ngIf="day !== null">
  <h3>Clôture de la journée du {{day | date:'MM/dd/yyyy'}}</h3>
  <p>Montant en espèces restant en caisse</p>
  <input pInputText type="text" [(ngModel)]="slip.cashAmount" />
  <button class="btn" (click)="closeDay()">Clôturer la journée</button>
</div>

<p>
  <button *ngIf="day === null" class="btn" (click)="openDay()">Démarrer la journée</button>
</p>

<ng-container *ngIf="resultMessage !== ''">
  <div *ngIf="isError" class="alert alert-danger">{{resultMessage}}</div>
  <div *ngIf="!isError" class="alert alert-success">{{resultMessage}}</div>
</ng-container>
