<div *ngIf="slip">
  <h2 *ngIf="slip.tableId === undefined">À emporter</h2>
  <h2 *ngIf="slip.tableId !== undefined">Table {{slip.tableId}}, {{slip.numberOfGuests}} couvert{{slip.numberOfGuests > 1 ? 's' : ''}}</h2>
  <p>Addition n°{{slip.id}} - {{slip.paymentDate|date:"dd/MM/yyyy hh:mm"}} - {{slip.total}}€</p>

  <p-table [value]="slip.payments">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>Moyen de paiement</th>
        <th>Montant</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-payment>
      <tr>
        <td>
              {{payment.id}}
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <mat-form-field class="example-full-width">
                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="payment.paymentMethodLabel">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </ng-template>
            <ng-template pTemplate="output">
              {{payment.paymentMethodLabel}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input type="number" [(ngModel)]="payment.amount">
            </ng-template>
            <ng-template pTemplate="output">
              {{payment.amount}}
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p><button class="btn btn-primary" (click)="addPayment()">Ajouter un paiement</button>
  </p>
  <p><button class="btn btn-primary" (click)="savePayments()">Enregistrer le(s) paiement(s)</button>
  </p>
</div>
